/* styles.css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 50%;
  height: auto;
}

body {
  background-color: black;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
